{% extends "layout.html" %}
{% block body %}
<div class="page-header">
    <h1 class="title">Why Stuy Key Club?</h1>
</div>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat ullamcorper feugiat. Nam lacinia metus id justo ullamcorper tempus. Donec malesuada posuere magna, at sagittis risus pretium ac. Donec ut urna neque. Proin et malesuada nibh. Etiam tincidunt pellentesque turpis, in vulputate lectus malesuada nec. Donec a dolor ut enim tempus hendrerit. Mauris leo nisl, venenatis quis porttitor in, commodo id lacus. Vivamus et dapibus dui, interdum gravida libero. Sed eleifend lorem nulla, nec lacinia risus fermentum et. Pellentesque sem enim, pretium id fermentum a, tristique ut dui. Aliquam egestas eu quam euismod posuere. Sed blandit, risus id tristique sollicitudin, erat leo commodo lorem, id luctus elit dolor non lacus. Nam eleifend nibh eu odio consequat, sed adipiscing nunc imperdiet.
<br>
Nunc sit amet augue nisi. Suspendisse nec aliquam dolor, non facilisis orci. Donec semper purus sit amet quam euismod vulputate. Donec accumsan ipsum sed eros suscipit facilisis. Aliquam quis lacus ante. Nunc at erat mattis, venenatis arcu eget, blandit magna. Integer arcu urna, dignissim a mattis in, vehicula sed metus. Pellentesque non convallis diam, ac adipiscing nisi. Suspendisse gravida metus adipiscing est bibendum scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et nulla quam. In hac habitasse platea dictumst. Donec at suscipit massa, non accumsan leo.
</p>
<div class="text-center"><a class="btn btn-info btn-large" href="/join">Join Stuy Key Club today!</a></div>
<hr>
<p>You can learn more about Key Club on our main site, <a href="http://stuykc.org">http://stuykc.org</a></p>
{% endblock %}
