{% extends "layout.html" %}
{% block body %}
<div class="page-header">
    <h1 class="title">Why Stuy Key Club?</h1>
</div>
<p>
    Stuyvesant Key Club is part of a global service organization that focuses on building leaders while serving our communities. We volunteer from libraries to walks and festivals, making our presence known as a dedicated group of students committed to service. 
</p>
<div class="text-center"><a class="btn btn-info btn-large" href="/">Join Stuy Key Club today!</a></div>
<hr>
<p>You can learn more about Key Club on our main site, <a href="http://stuykc.org">http://stuykc.org</a></p>
{% endblock %}
