{% extends "layout.html" %}
{% block body %}
<div class="hero-unit" style="text-align:center">
    <h2>Interested in joining <span style="color:#00aeef;">Stuyvesant Key Club?</span></h2>
    <img src="/images/logo.png" alt="Key Club Logo" />
</div>
<div class="row">
    <div class="span5" style="margin:0 auto; float:none;" id="join-container">
        <form class="form-horizontal" action="/join" method="post">
            <div class="control-group">
                <label class="control-label" for="inputName">Name</label>
                <div class="controls">
                    <input type="text" class="input-large" name="name" placeholder="Full Name" autofocus>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputId">4 Digit ID</label>
                <div class="controls">
                    <input type="text" class="input-mini" id="id" maxlength="4" name="id" placeholder="ID">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputemail">Email</label>
                <div class="controls">
                    <input type="email" class="input-large" name="email" placeholder="Email Address">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" value="join" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="load" style="display:none;position:fixed;z-index:1000;top:0;left:0;height:100%;width:100%;background:rgba(255,255,255,.90);opacity: 0.90;-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 90);filter: alpha(opacity = 90);"></div>
{% endblock %}{% block scripts %}
<script>
$(document).ready(form);
$(window).resize(form);
function form() {
  if($(window).width() < 980) {
    $('#join-container').addClass('span7').removeClass('span5');
  }
  else {
    $('#join-container').addClass('span5').removeClass('span7');
  }
}
</script>
<script>
$(document).on('keypress', '#id', function (event) {
  return (((event.which > 47) && (event.which < 58)) || (event.which == 13));
});
var isFormGood = false;
$(document).ready(function() {
  $('button[type="submit"]').attr('disabled','disabled');
  $('input').keyup(function() {
    $('input').each(function() {
      if($(this).val()) {
        isFormGood = true
      }
      else {
        isFormGood = false
        return false
      }
    });
    if(isFormGood) {
      $('button[type="submit"]').removeAttr('disabled');
    }
    else {
      $('button[type="submit"]').attr('disabled','disabled');
    }
  });
});
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>
<script>
$(document).ready(function() {
  $.fn.spin = function(opts) {
    this.each(function() {
      var $this = $(this), spinner = $this.data('spinner');
      if (spinner) spinner.stop();
      if (opts !== false) {
        opts = $.extend({color: $this.css('color')}, opts);
        spinner = new Spinner(opts).spin(this);
        $this.data('spinner', spinner);
      }
    });
    return this;
  };
  var opts = {
    lines: 12, // The number of lines to draw
    length: 23, // The length of each line
    width: 9, // The line thickness
    radius: 30, // The radius of the inner circle
    color: '#00aeef', // #rbg or #rrggbb
    speed: 1, // Rounds per second
    trail: 80, // Afterglow percentage
    shadow: true // Whether to render a shadow
  };
  var spinner = new Spinner().spin();
  $('.form-horizontal').one('submit', function() {
    $('input').each(function() {$(this).attr('readonly','readonly');});
    $('button[type="submit"]').attr('disabled','disabled').text('Submitting...');
    $('.load').show().spin(opts);
  });
});
</script>
{% endblock %}
