{% extends "layout.html" %}
{% block body %}
<div class="jumbotron text-center">
    <h2 class="helper-title">Interested in joining</h2>
    <h1 class="title">Stuyvesant Key Club?</h1>
    <img class="img-responsive center-block" src="/images/logo.png" alt="Key Club Logo" />
</div>
<div class="row">
<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" id="join-container">
    <form class="form-horizontal" action="/submit" method="post">
        <div class="form-group">
            <label for="inputName" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="inputName" name="name" placeholder="Full Name" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="inputId" class="col-sm-3 control-label">4 Digit ID</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="inputId" maxlength="4" name="id" placeholder="ID">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-7">
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email Address">
                <span id="emailHelpBlock" class="help-block text-danger" style="display:none;">Are you sure that this email is valid?</span>
            </div>
        </div>
        <button type="submit" class="col-sm-6 col-sm-offset-3 btn btn-primary">Submit</button>
    </form>
</div>
</div>
<div class="load" style="display:none;position:fixed;z-index:1000;top:0;left:0;height:100%;width:100%;background:rgba(255,255,255,.90);opacity: 0.90;-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 90);filter: alpha(opacity = 90);"></div>
{% endblock %}
{% block scripts %}
<script>
$('#inputId').keydown(function(event) {
  return (((event.which > 47) && (event.which < 58)) || (event.which == 8) || (event.which == 46));
});
var isFormGood = false;
$(document).ready(function() {
  $('button[type="submit"]').prop('disabled', true);
  $('input').keyup(function() {
    $('input').each(function() {
      if($(this).val()) {
        isFormGood = true;
      }
      else {
        isFormGood = false;
        return false;
      }
    });
    var re = /^([a-zA-Z0-9+_\-\.])+@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,6})$/;
    if (re.test($('#inputEmail').val())) {
        $('#emailHelpBlock').fadeOut();
    }
    else {
        $('#emailHelpBlock').fadeIn();
        isFormGood = false;
    }
    if(isFormGood) {
      $('button[type="submit"]').prop('disabled', false);
    }
    else {
      $('button[type="submit"]').prop('disabled', true);
    }
  });
});
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>
<script>
$(document).ready(function() {
  $.fn.spin = function(opts) {
    this.each(function() {
      var $this = $(this), spinner = $this.data('spinner');
      if (spinner) spinner.stop();
      if (opts !== false) {
        opts = $.extend({color: $this.css('color')}, opts);
        spinner = new Spinner(opts).spin(this);
        $this.data('spinner', spinner);
      }
    });
    return this;
  };
  var opts = {
    lines: 12, // The number of lines to draw
    length: 23, // The length of each line
    width: 9, // The line thickness
    radius: 30, // The radius of the inner circle
    color: '#00aeef', // #rbg or #rrggbb
    speed: 1, // Rounds per second
    trail: 80, // Afterglow percentage
    shadow: true // Whether to render a shadow
  };
  var spinner = new Spinner().spin();
  $('.form-horizontal').one('submit', function() {
    $('input').each(function() {$(this).attr('readonly','readonly');});
    $('button[type="submit"]').attr('disabled','disabled').text('Submitting...');
    $('.load').show().spin(opts);
  });
});
</script>
{% endblock %}
