{% extends "layout.html" %}
{% block body %}
<div class="page-header text-center">
    <h1 class="title">Thank you!</h1>
</div>
<div class="col-sm-8 col-sm-offset-2">
    <p class="lead">
        Thanks for joining Stuyvesant Key Club!<br>We will be adding your email, {{ email }}, to our mailing list soon. The majority of our updates and events will be sent through the mailing list, so watch out for the invitation in your email!
    </p>
    <p class="lead">In the meantime, feel free to join:<br>
        <a href="https://www.facebook.com/groups/714540058597891/"><img src="/images/facebook.png" class="fb-logo" /> the Stuyvesant Key Club Facebook Group</a>!
    </p>
</div>
{% endblock %}
