{% extends "layout.html" %}
{% block body %}
<div class="page-header text-center">
    <h1 class="title">Thank you!</h1>
</div>
<div class="col-sm-8 col-sm-offset-2">
    <p class="lead">
        Thank you for joining Stuyvesant Key Club!<br>
        The majority of our updates and events will be sent through our mailing list, so please request join it <a href="https://groups.google.com/forum/#!forum/stuyvesant-key-club">here</a>!
    </p>
    <p class="lead">In the meantime, checkout our <a href="http://stuykc.org/">website</a> and feel free to join:<br>
        <a href="https://www.facebook.com/groups/714540058597891/"><img src="/images/facebook.png" class="fb-logo" /> the Stuyvesant Key Club Facebook Group</a>!
    </p>
</div>
{% endblock %}
